version: '3.6'
services:

  accountdb:
    image: mariadb:10.9
    networks: 
      - net_account_backend
    container_name: accountserver_database
    user: root
    restart: always
    environment:
      - "MYSQL_ROOT_PASSWORD=secret"
      - "MYSQL_DATABASE=account"
      - "MYSQL_USER=accuser"
      - "MYSQL_PASSWORD=unity"
    volumes:
      - accountserver-mariadb:/var/lib/mysql
    ports:
      - 5505:3306
  
  accountadmin:
    image: adminer
    restart: always
    networks: 
      - net_account_backend
    environment: 
      ADMINER_DEFAULT_SERVER: accountdb
    ports:
      - 8081:8080

  accountserver:
    networks: 
      - net_account_backend
      - net_account_frontend
    build:
      network: host
      context: ./
      dockerfile: ./Dockerfile
      args:
        username: ${NUGET_USERNAME}
        token: ${NUGET_TOKEN}
    ports:
      - "5100:80"
#    environment:
      #- ASPNETCORE_ENVIRONMENT=Development
#      - ASPNETCORE_URLS=https://+:443;http://+:80
#      - ASPNETCORE_Kestrel__Certificates__Default__Password=smurfepoliz
#      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/certificate.pfx
    depends_on: 
      - accountdb

networks:
  net_account_backend:
    name: account_backend
  net_account_frontend:
    name: account_frontend

volumes:
  # docker volume create accountserver-mariadb
  accountserver-mariadb:
    external: true  